{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
   <header>
   <div class="wrap-contact2">
   <div class="imgcontainer">
    <img src="img/logo.svg" alt="Avatar" class="avatarlog">
      <h3 class="h2 ">Lets get you Started </h3>
    <h3 class="h2 ">Create your acount</h3>
  </div>
   
  
     


  
    {# {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        
    {% endfor %} #}

   <h1 class="h3 mb-3 font-weight-normal">Register </h1>

    {{ form_start(registrationForm) }}
       <label for="inputEmail"> {{ form_row(registrationForm.email) }}</label>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn-primary">Register</button>
    {{ form_end(registrationForm) }}
        </div>
</header>
{% endblock %}

   
 
    

