{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
	<div class="alert alert-success">
		{{ message }}
	</div>

{% endfor %}
<div class=" hero ">
	<h1>Lise des produits</h1>
	<p>
		<a href="{{ path('create') }}">Ajouter un produit</a>
	</p>

	<div class=" hero ">
		<table>
			<thead>
				<th>ID</th>
				<th>Title</th>
				<th>Description</th>
				<th>Price</th>
				<th>photo</th>
			</thead>
			<tbody>
				{% for post in posts %}
					<td>{{ post.id }}</td>
					<td>{{ post.title }}</td>
					<td>{{ post.descripstion }}</td>
					<td>{{ post.price }}</td>
					<td>{{ post.images }}</td>
					
					    <a class="btn-primary" href="{{ path('delete', {'id': post.id}) }}">delete</a>
                        					    <a class="btn-primary" href="{{ path('delete', {'id': post.id}) }}">update</a>

				    </td>
                    

				</tbody>
				
			</tbody>
		</div>

	</table>
</div>




    
{% endfor %}
{% endblock %}
