{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
             </div>

    {% endfor %}
<h1>Lise des produits</h1>
<p><a href="{{ path('create') }}">Ajouter un produit</a></p>

    <div class =" hero "><table>
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>photo</th>
        </thead>
        <tbody>
        {% for post in posts %}
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.descripstion }}</td>
            <td>{{ post.price }}</td>
            <td>{{ post.image }}</td>
            <td>
               
                </td>
        
        </tbody>
                <td><a class= "btn btn-lg btn-primary" href="{{ path('delete', {'id': post.id}) }}">Supprimer</a></td>
    </div>

    </table>


    
{% endfor %}
{% endblock %}
