{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class=" container ">
	<h1>photos lists</h1>
	<p>
		<a href="{{ path('create') }}">add new photo</a>
	</p>
</div>

</div>


<section class="page-section" id="contact">
			<div
				class="container">
				<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Our Gallery</h2>
				<a class="buttonb" href="{{ path('create') }}">add new photo</a>

				<!-- Icon Divider-->
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fas fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>
				<div class=" gallery-genral">

					<div class="gallery-image">


						{% for post in posts %}

							<div class="img-box">
								<img src="{{ asset("uploads/images/" ~ post.images )}}" alt=""/>
								<div class="transparent-box">
									<div class="caption">
										<p>{{ post.title }}</p>
										<p class="opacity-low">{{ post.descripstion }}</p>
<div>
								<a class="buttonb" href="{{ path('delete', {'id': post.id}) }}">Delete</a>
								<a class="buttonb" href="{{ path('update_post', {'id': post.id}) }}">Update</a>

							</div>
									</div>


								</div>
              
              

							</div>
							

						{% endfor %}
					</div>
				</div>








    

{% endblock %}
